@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Shippori Antique', sans-serif;
}


.MainFrame{
  height: 100%;
  min-height: 100vh;
  background-color: #f0f0e2;
  padding-bottom: 30px;
}

.MainFrame .container {
  max-width: 910px;
  display: flex;
  margin: auto;
  padding-top: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.MainFrame .container .titlePokemons{
  flex: 1;
}
